<!--<header>-->
  <!--<div class="container-fluid">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span> <i class="fa fa-bars fa-2x toggle-btn"></i>-->
    <!--</button>-->
    <!--<h1 class="logo">-->
      <!--<a href="https://www.fabhotels.com/"></a>-->
    <!--</h1>-->
  <!--</div>-->
<!--</header>-->

<md-toolbar color="primary">
    <span class="logo"></span>
</md-toolbar>
