.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

div.active .mat-list-item {
  background-color: #ff4081;
}
div.active a {
  color: #fff;
  font-weight: 700;
}